<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67684629965-jl6rft4r35oa3tjmvvgb4h6r5ic5u3uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67684629965-jl6rft4r35oa3tjmvvgb4h6r5ic5u3uu</string>
	<key>API_KEY</key>
	<string>AIzaSyD1CzPBXahFk5Lu-Lq79sFn0OS0zFVP1Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>67684629965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.themmfa.taskManagementAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>taskmanagerapp-a0c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanagerapp-a0c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67684629965:ios:0b8627e712368a84f85884</string>
</dict>
</plist>